
.gnotify-pt {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 1rem !important;
}

.gnotify {
    position: relative;
    width: 100%;
}

.gnotify-close {
    position: absolute;
    top: 0;
    right: 0;
    /*z-index: 1031;*/
    background-color: white;
}

#notifications {
    z-index: 1029;
}

.notification-sticky {
    position: sticky;
    top: 50px;
}

.notification-relative {
    position: relative;
}

.content {
    /*padding-right: 15px;
    padding-left: 15px;*/
    position: relative;
    /*z-index: 1030;*/
    width: 100%;
    border: 1px black;
}