.gnotify-plr {
    padding-left: 15px;
    padding-right: 15px;
}

.gnotify-pt {
    /* stylelint-disable-next-line declaration-no-important */
    padding-top: 1rem !important;
}

.gnotify {
    position: relative;
    width: 100%;
}

.gnotify-close {
    position: absolute;
    top: 0;
    right: 0;
    /*z-index: 1031;*/
    background-color: white;
}

.notification-sticky {
    z-index: 1029;
    position: sticky;
    top: 50px;
}

.notification-relative {
    position: relative;
}