
.gnotify-pt {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 1rem !important;
    background: white;
}

.gnotify {
    position: absolute;
    width: 100%;
}

.gnotify-close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1031;
    background-color: white;
}

#notifications .content {
    /*padding-right: 15px;
    padding-left: 15px;*/
    position: relative;
    z-index: 1030;
    width: 100%;
    background-color: white;
    border: 1px black;
}