  {{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
  }}
  {{!
    @template tool_gnotify/history

    Moodle history template.

    Example context (json):
    {

    }
  }}
<div class="course-content">
    <div class="table-responsive">
        <table id="gnotifications-{{uniqid}}" class="fullwidth topics table">
            <caption>{{# str }} activenotifications, tool_gnotify {{/ str }}</caption>
            <colgroup>
                <col style="min-width: 60%;" >
                <col style="max-width: 40%;" >
            </colgroup>
            <tbody>
            {{#active}}
                <tr class="{{ntype}}">
                    <td>
                        {{{ html }}}
                    </td>
                    <td style="text-align: right;">
                        <ul class="topics">
                            <li id="gndetail-{{ uniqid }}" class="main clearfix">{{# str }} visiblefromto, tool_gnotify, { "fromdate": {{#quote}} {{ fromdate }}  {{/quote}}, "todate": {{#quote}} {{ todate }} {{/quote}} }{{/ str }}</li>
                            {{#ackdate}}
                            <li id="gndetail-{{ uniqid }}" class="main clearfix">{{# str }} acknowledgedon, tool_gnotify {{/ str }} {{ackdate}}</li>
                            {{/ackdate}}
                        </ul>
                    </td>
                </tr>
            {{/active}}
            {{^active}}
               <tr>
                   <td>
                        {{# str}} noactivenotifications, tool_gnotify {{/str}}
                   </td>
                   <td></td>
               </tr>
            {{/active}}
            </tbody>
        </table>
    </div>
    <div class="table-responsive">
        <table id="gnotifications-expired-{{uniqid}}" class="fullwidth topics table">
            <caption title="{{# str }} expirednotificationstooltip, tool_gnotify, {{ retentionperiod }} {{/ str }}">{{# str }} expirednotifications, tool_gnotify {{/ str }}</caption>
            <colgroup>
                <col style="min-width: 60%;" >
                <col style="max-width: 40%;" >
            </colgroup>
            <tbody>
            {{#expired}}
                <tr class="{{ntype}}">
                    <td>
                        {{{ html }}}
                    </td>
                    <td style="text-align: right;">
                        <ul class="topics">
                            <li id="gndetail-{{ uniqid }}" class="main clearfix">{{# str }} visiblefromto, tool_gnotify, { "fromdate": {{#quote}} {{ fromdate }}  {{/quote}}, "todate": {{#quote}} {{ todate }} {{/quote}} }{{/ str }}</li>
                            {{#ackdate}}
                            <li id="gndetail-{{ uniqid }}" class="main clearfix">{{# str }} acknowledgedon, tool_gnotify {{/ str }} {{ackdate}}</li>
                            {{/ackdate}}
                        </ul>
                    </td>
                </tr>
            {{/expired}}
            {{^expired}}
                   <tr>
                       <td>
                            {{# str}} noexpirednotifications, tool_gnotify {{/str}}
                       </td>
                       <td></td>
                   </tr>
            {{/expired}}
            </tbody>
        </table>
    </div>
</div>