{{#.}}
<div id="gnotify" class="notification" >
    <button class="gnotify-close btn btn-primary" onclick="var element = document.getElementById('gnotify');element.hidden = true;">X</button>
	{{{html}}}
</div>
{{/.}}