<div id="gnotify-wrapper" class="gnotify">
    {{#.}}
        <div id="{{id}}-gnotify-wrapper" class="gnotify-pt">
            <div id="{{id}}-gnotify" class="card">
                <div class="gnotify-notification-html card-body">
                    <button type="button" onclick="$.fn.tool_gnotify_acknowledge_notification({{id}});" class="close" data-dismiss="alert">&times;</button>
                    {{{html}}}
                </div>
                <!-- button class="gnotify-close btn btn-secondary" onclick="$.fn.tool_gnotify_acknowledge_notification({{id}});">&times;</button-->
            </div>
        </div>
    {{/.}}
</div>