<div>
    <table id="templates-{{uniqid}}" class="generaltable fullwidth">
        <thead>
        <tr>
            <th class="header name">{{# str }} templatetableheadername, tool_gnotify {{/ str }}</th>
            <th class="header actions">{{# str }} templatetableheaderactions, tool_gnotify {{/ str }}</th>
        </tr>
        </thead>
        <tbody class="table">
        {{#templates}}
            <tr class="table-row">
                <td class="table-cell">
                    {{name}}
                </td>
                <td class="table-cell">
                    <a href="{{wwwroot}}/admin/tool/gnotify/use.php?templateid={{id}}">{{#pix}}i/new, core, {{# str }} usetemplate, tool_gnotify {{/ str }}{{/pix}}</a>
                    <a href="{{wwwroot}}/admin/tool/gnotify/edit.php?templateid={{id}}">{{#pix}}t/edit, core, {{# str }} edittemplate, tool_gnotify {{/ str }}{{/pix}}</a>
                    <a href="{{wwwroot}}/admin/tool/gnotify/templates.php?action=delete&templateid={{id}}">{{#pix}}i/trash, core, {{# str }} deletetemplate, tool_gnotify {{/ str }}{{/pix}}</a>
                </td>
            </tr>
        {{/templates}}
        {{^templates}}
            <tr class="table-row">
                <td class="table-cell" colspan="2">
                    <p>{{# str}} notemplates, tool_gnotify {{/str}}</p>
                </td>
            </tr>
        {{/templates}}
        </tbody>
    </table>
    <a href="{{wwwroot}}/admin/tool/gnotify/create.php">
        <button class="btn btn-secondary"/> {{# str }} createtemplate, tool_gnotify {{/ str }}</button></a>
</div>
<div>
    <table id="templates-{{uniqid}}" class="generaltable fullwidth">
        <thead>
        <tr>
            <th class="header name">{{# str }} templatetableheadername, tool_gnotify {{/ str }}</th>
            <th class="header from">{{# str }} templatetableheaderfrom, tool_gnotify {{/ str }}</th>
            <th class="header to">{{# str }} templatetableheaderto, tool_gnotify {{/ str }}</th>
            <th class="header ack">{{# str }} templatetableheaderack, tool_gnotify {{/ str }}</th>
            <th class="header actions">{{# str }} templatetableheaderactions, tool_gnotify {{/ str }}</th>
        </tr>
        </thead>
        <tbody class="table">
        {{#instemplates}}
            <tr class="table-row">
                <td class="table-cell">
                    {{name}}
                </td>
                <td class="table-cell">
                    {{fromdate}}
                </td>
                <td class="table-cell">
                    {{todate}}
                </td>
                <td class="table-cell">
                    {{ack}}
                </td>
                <td class="table-cell">
                    <a href="{{wwwroot}}/admin/tool/gnotify/templates.php?action=delete-ins&insid={{id}}">{{#pix}}i/trash, core, {{# str }} deletetemplate, tool_gnotify {{/ str }}{{/pix}}</a>
                </td>
            </tr>
        {{/instemplates}}
        {{^instemplates}}
            <tr class="table-row">
                <td class="table-cell" colspan="4" >
                    <p>{{# str}} notemplates, tool_gnotify {{/str}}</p>
                </td>
            </tr>
        {{/instemplates}}
        </tbody>
    </table>
</div>