  {{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
  }}
  {{!
    @template tool_gnotify/templates_table

    Moodle templates_table template.

    Example context (json):
    {

    }
  }}
<div class="box py-3 generalbox">
    <h3>{{# str }} templates, tool_gnotify {{/ str }}</h3>
    <table id="templates-{{uniqid}}" class="generaltable fullwidth">
        <thead>
        <tr>
            <th class="header name">{{# str }} templatetableheadername, tool_gnotify {{/ str }}</th>
            <th class="header actions">{{# str }} templatetableheaderactions, tool_gnotify {{/ str }}</th>
        </tr>
        </thead>
        <tbody class="table">
        {{#templates}}
            <tr class="table-row">
                <td class="table-cell">
                    {{name}}
                </td>
                <td class="table-cell">
                    <a href="{{wwwroot}}/admin/tool/gnotify/use.php?templateid={{id}}">{{#pix}}i/new, core, {{# str }} usetemplate, tool_gnotify {{/ str }}{{/pix}}</a>
                    <a href="{{wwwroot}}/admin/tool/gnotify/edit.php?id={{id}}">{{#pix}}t/edit, core, {{# str }} edittemplate, tool_gnotify {{/ str }}{{/pix}}</a>
                    <a href="{{wwwroot}}/admin/tool/gnotify/templates.php?action=delete&templateid={{id}}">{{#pix}}i/trash, core, {{# str }} deletetemplate, tool_gnotify {{/ str }}{{/pix}}</a>
                </td>
            </tr>
        {{/templates}}
        {{^templates}}
            <tr class="table-row">
                <td class="table-cell" colspan="2">
                    {{# str}} notemplates, tool_gnotify {{/str}}
                </td>
            </tr>
        {{/templates}}
        </tbody>
    </table>
    <a class="btn btn-secondary" href="{{wwwroot}}/admin/tool/gnotify/edit.php">
      {{# str }} createtemplate, tool_gnotify {{/ str }}</a>
</div>
<div class="box py-3 generalbox">
    <h3>{{# str }} activenotifications, tool_gnotify {{/ str }}</h3>
    <table id="active-instances-{{uniqid}}" class="generaltable fullwidth">
        <thead>
        <tr>
            <th class="header name">{{# str }} templatetableheadername, tool_gnotify {{/ str }}</th>
            <th class="header from">{{# str }} templatetableheaderfrom, tool_gnotify {{/ str }}</th>
            <th class="header to">{{# str }} templatetableheaderto, tool_gnotify {{/ str }}</th>
            <th class="header ack">{{# str }} templatetableheaderack, tool_gnotify {{/ str }}</th>
            <th class="header actions">{{# str }} templatetableheaderactions, tool_gnotify {{/ str }}</th>
        </tr>
        </thead>
        <tbody class="table">
        {{#activenotifications}}
            <tr class="table-row">
                <td class="table-cell">
                    {{name}}
                </td>
                <td class="table-cell">
                    {{fromdate}}
                </td>
                <td class="table-cell">
                    {{todate}}
                </td>
                <td class="table-cell">
                    {{ack}}
                </td>
                <td class="table-cell">
                    <a href="{{wwwroot}}/admin/tool/gnotify/use.php?id={{id}}&templateid={{tplid}}">{{#pix}}i/edit, core, {{# str }} edittemplate, tool_gnotify {{/ str }}{{/pix}}</a>
                    <a href="{{wwwroot}}/admin/tool/gnotify/templates.php?action=delete&notificationid={{id}}">{{#pix}}i/trash, core, {{# str }} deletetemplate, tool_gnotify {{/ str }}{{/pix}}</a>
                </td>
            </tr>
        {{/activenotifications}}
        {{^activenotifications}}
            <tr class="table-row">
                <td class="table-cell" colspan="5" >
                    {{# str}} nonotifications, tool_gnotify {{/str}}
                </td>
            </tr>
        {{/activenotifications}}
        </tbody>
    </table>
</div>
<div class="box py-3 generalbox">
    <h3>{{# str }} expirednotifications, tool_gnotify {{/ str }}</h3>
    <table id="expired-instances-{{uniqid}}" class="generaltable fullwidth">
        <thead>
        <tr>
            <th class="header name">{{# str }} templatetableheadername, tool_gnotify {{/ str }}</th>
            <th class="header from">{{# str }} templatetableheaderfrom, tool_gnotify {{/ str }}</th>
            <th class="header to">{{# str }} templatetableheaderto, tool_gnotify {{/ str }}</th>
            <th class="header ack">{{# str }} templatetableheaderack, tool_gnotify {{/ str }}</th>
            <th class="header actions">{{# str }} templatetableheaderactions, tool_gnotify {{/ str }}</th>
        </tr>
        </thead>
        <tbody class="table">
        {{#expirednotifications}}
            <tr class="table-row">
                <td class="table-cell">
                    {{name}}
                </td>
                <td class="table-cell">
                    {{fromdate}}
                </td>
                <td class="table-cell">
                    {{todate}}
                </td>
                <td class="table-cell">
                    {{ack}}
                </td>
                <td class="table-cell">
                    <a href="{{wwwroot}}/admin/tool/gnotify/use.php?id={{id}}&templateid={{tplid}}">{{#pix}}i/edit, core, {{# str }} edittemplate, tool_gnotify {{/ str }}{{/pix}}</a>
                    <a href="{{wwwroot}}/admin/tool/gnotify/templates.php?action=delete&notificationid={{id}}">{{#pix}}i/trash, core, {{# str }} deletetemplate, tool_gnotify {{/ str }}{{/pix}}</a>
                </td>
            </tr>
        {{/expirednotifications}}
        {{^expirednotifications}}
            <tr class="table-row">
                <td class="table-cell" colspan="5" >
                    {{# str}} nonotifications, tool_gnotify {{/str}}
                </td>
            </tr>
        {{/expirednotifications}}
        </tbody>
    </table>
</div>