<div class="usetemplate">
	{{#lang}}
	  {{{content}}}
	{{/lang}}
	<div>
		{{#vars}}
		   <label for="{{varname}}">{{varname}}:</label> <input name="{{varname}}" id="{{varname}}">
		{{/vars}}
	</div>
	<label for="fromdate">{{# str }} fromdate, tool_gnotify {{/ str }}:</label> {{> core_form/element-date_time_selector-inline }}
	<label for="todate">{{# str }} todate, tool_gnotify {{/ str }}:</label> <input name="todate" id="todate">
	<button class="btn btn-primary">{{# str }} notifyusers, tool_gnotify {{/ str }}</button>
</div>